# Unity generated
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/

# IDE
.vscode/
.idea/

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Python / backend
__pycache__/
*.pyc
backend/__pycache__/
backend/instance/
instance/

# Firebase / deploy
.firebase/
firebase-debug.log
.firebaserc

# Local files
unity_batch.log
SENG 401 - Team-Project_Description_Student-Version-W26.pdf
